@use "../../../styles/mixins" as *;

.card {
  filter: drop-shadow(5px 6px 8px rgba(30, 30, 30, 0.75));
  border: 0.5px solid rgba(30, 30, 30, 0.25);
  overflow: hidden;
}
.rounded {
  border-radius: 1rem;
}
.slide {
  min-height: 450px;
  aspect-ratio: 1/1.4;
  @include MQ(M, max) {
    min-width: 55vw;
    min-height: unset;
    aspect-ratio: 1/1.4;
  }
  display: flex;
  flex-direction: column;
}
